<html>
<head>

<title> Servo Socket Server or S^3 :)</title>
</head>
<body>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="{{ static_url('javascript/tornado_servo2.js') }}" type="application/javascript"></script>
<div>Welcome my servo control server. As the site builds there will be more options. Right know one servo, one angle</div><br>

<div id="vertical-slider", style="height: 250px;", align="right"></div>

<div id="horizontal-slider"></div>
<div> Enter an angle for Horiz(0-180): <input type="text" name="angle" class="horiz-angle" style="bold; border: 0;"></div>
<div> Enter an angle for Vertical(0-180): <input type="text" name="angle" class="vertical-angle" style="bold; border: 0;"></div>

<div class="ws_response"></div>

</body>
</html>